<% include ./partials/header %>

  <div class="container mt-4">
    <div class="row">
      <div class="col"></div>
      <div class="col-12 col-md-9">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h1 class="text-center">About HTXam</h1>
            <h3>What is HTXam?</h3>
            <hr>
            <p>
              <strong class="text-danger">HTXam</strong> start by signing up ->
              <a href="/register">sign up</a>.
            </p>
            <p>
              Uses mongoDB.
            </p>
            <h3>Features</h3>
            <hr>
            <ul>
              <li>something</li>
              <li>something</li>
              <li>something</li>
              <li>something</li>
              <li>something</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <% include ./partials/footer %>