<% include ../partials/header %>

  <header class="jumbotron text-light rounded-0 d-none d-md-block">
    <div class="container ">
      <div class="jumbotron-text mt-5 text-center">
        <% if(noMatch !== null) { %>
          <h2 class="jumbotronText">No results for <span class="font-italic"><%= noMatch %></span>, try again. </h2>
        <% } else { %>
          <h1 class="display-3 jumbotronText">HTXam</h1>
          <p class="lead jumbotronText">Health Technology Exchange Asset Management</p>
        <% } %>
      </div>
    </div>
  </header>
  <nav id="searchNav" class="navbar navbar-expand navbar-light bg-white shadow-sm">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
              </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <form class="sortForm" action="/campgrounds" method="GET">
                <input type="text" name="sortby" value="rateAvg" class="d-none">
                <button type="submit" class="dropdown-item">Highest Rated</button>
              </form>
              <form class="sortForm" action="/campgrounds" method="GET">
                <input type="text" name="sortby" value="rateCount" class="d-none">
                <button type="submit" class="dropdown-item">Most Reviewed</button>
              </form>
              <form class="sortForm" action="/campgrounds" method="GET">
                <input type="text" name="sortby" value="priceLow" class="d-none">
                <button type="submit" class="dropdown-item">Lowest Price</button>
              </form>
              <form class="sortForm" action="/campgrounds" method="GET">
                <input type="text" name="sortby" value="priceHigh" class="d-none">
                <button type="submit" class="dropdown-item">Highest Price</button>
              </form>
              <a href="/campgrounds" href class="dropdown-item">Reset</a>
            </div>
          </li>
        </ul>
        <div class="d-none d-md-block">
          <form action="/campgrounds" method="GET" class="input-group">
            <input type="text" class="form-control" type="text" name="search" placeholder="Search Devices..." aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-danger border-0" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>


  <% include ../partials/footer %>